<header class="pv3 bg-blue white">
  <div class="ph3 ph4-l container center">
    <h1 class="lh-title">Reece Johnson Music</h1>
    <p class="f3">Music Producer and DJ</p>
    <nav>
      <ul class="list pl0 flex flex-row justify-around">
        <li>
          <a class="white hover-orange" href="#music">Music</a>
        </li>
        <li>
          <a class="white hover-orange" href="#about">About</a>
        </li>
        <li>
          <a class="white hover-orange" href="#contact">Contact</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
