<header class="ph3 ph4-l bg-blue white">
  <div class="pv1 container center tc tl-m tl-l">
    <nav>
      <ul class="flex flex-row justify-between lh-copy list pl0 f6 f5-l white mt3">
        <li class="mv1 mv0-m">
          <a class="white hover-orange" href="/">Home</a>
        </li>
        <li class="mv1 mv0-m">
          <a class="white hover-orange" href="#music">Music</a>
        </li>
        <li class="mv1 mv0-m">
          <a class="white hover-orange" href="#about">About</a>
        </li>
        <li class="mv1 mv0-m">
          <a class="white hover-orange" href="#contact">Contact</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
