
.blue { color: #181d2b; }
.bg-blue { background-color: #181d2b; }
.b--blue { border-color: #181d2b; }
.hover-blue:hover,
.hover-blue:focus { color: #181d2b; }
.hover-bg-blue:hover,
.hover-bg-blue:focus { background-color: #181d2b; }

.blue-xl { color: #f3f5f8; }
.bg-blue-xl { background-color: #f3f5f8; }
.b--blue-xl { border-color: #f3f5f8; }
.hover-blue-xl:hover,
.hover-blue-xl:focus { color: #f3f5f8; }
.hover-bg-blue-xl:hover,
.hover-bg-blue-xl:focus { background-color: #f3f5f8; }

.blue-l { color: #3f4454; }
.bg-blue-l { background-color: #3f4454; }
.b--blue-l { border-color: #3f4454; }
.hover-blue-l:hover,
.hover-blue-l:focus { color: #3f4454; }
.hover-bg-blue-l:hover,
.hover-bg-blue-l:focus { background-color: #3f4454; }

.blue-d { color: #000000; }
.bg-blue-d { background-color: #000000; }
.b--blue-d { border-color: #000000; }
.hover-blue-d:hover,
.hover-blue-d:focus { color: #000000; }
.hover-bg-blue-d:hover,
.hover-bg-blue-d:focus { background-color: #000000; }

.orange { color: #ff6037; }
.bg-orange { background-color: #ff6037; }
.b--orange { border-color: #ff6037; }
.hover-orange:hover,
.hover-orange:focus { color: #ff6037; }
.hover-bg-orange:hover,
.hover-bg-orange:focus { background-color: #ff6037; }

.orange-l { color: #ff9264; }
.bg-orange-l { background-color: #ff9264; }
.b--orange-l { border-color: #ff9264; }
.hover-orange-l:hover,
.hover-orange-l:focus { color: #ff9264; }
.hover-bg-orange-l:hover,
.hover-bg-orange-l:focus { background-color: #ff9264; }

.orange-d { color: #c52b08; }
.bg-orange-d { background-color: #c52b08; }
.b--orange-d { border-color: #c52b08; }
.hover-orange-d:hover,
.hover-orange-d:focus { color: #c52b08; }
.hover-bg-orange-d:hover,
.hover-bg-orange-d:focus { background-color: #c52b08; }

.white { color: #ffffff; }
.bg-white { background-color: #ffffff; }
.b--white { border-color: #ffffff; }
.hover-white:hover,
.hover-white:focus { color: #ffffff; }
.hover-bg-white:hover,
.hover-bg-white:focus { background-color: #ffffff; }
