.white { color: #ffffff; }
.bg-white { background-color: #ffffff; }
.b--white { border-color: #ffffff; }
.hover-white:hover,
.hover-white:focus { color: #ffffff; }
.hover-bg-white:hover,
.hover-bg-white:focus { background-color: #ffffff; }

.gray-0 { color: #fafbfc; }
.bg-gray-0 { background-color: #fafbfc; }
.b--gray-0 { border-color: #fafbfc; }
.hover-gray-0:hover,
.hover-gray-0:focus { color: #fafbfc; }
.hover-bg-gray-0:hover,
.hover-bg-gray-0:focus { background-color: #fafbfc; }

.gray-1 { color: #f6f8fa; }
.bg-gray-1 { background-color: #f6f8fa; }
.b--gray-1 { border-color: #f6f8fa; }
.hover-gray-1:hover,
.hover-gray-1:focus { color: #f6f8fa; }
.hover-bg-gray-1:hover,
.hover-bg-gray-1:focus { background-color: #f6f8fa; }

.gray-2 { color: #e1e4e8; }
.bg-gray-2 { background-color: #e1e4e8; }
.b--gray-2 { border-color: #e1e4e8; }
.hover-gray-2:hover,
.hover-gray-2:focus { color: #e1e4e8; }
.hover-bg-gray-2:hover,
.hover-bg-gray-2:focus { background-color: #e1e4e8; }

.gray-3 { color: #d1d5da; }
.bg-gray-3 { background-color: #d1d5da; }
.b--gray-3 { border-color: #d1d5da; }
.hover-gray-3:hover,
.hover-gray-3:focus { color: #d1d5da; }
.hover-bg-gray-3:hover,
.hover-bg-gray-3:focus { background-color: #d1d5da; }

.gray-4 { color: #959da5; }
.bg-gray-4 { background-color: #959da5; }
.b--gray-4 { border-color: #959da5; }
.hover-gray-4:hover,
.hover-gray-4:focus { color: #959da5; }
.hover-bg-gray-4:hover,
.hover-bg-gray-4:focus { background-color: #959da5; }

.gray-5 { color: #6a737d; }
.bg-gray-5 { background-color: #6a737d; }
.b--gray-5 { border-color: #6a737d; }
.hover-gray-5:hover,
.hover-gray-5:focus { color: #6a737d; }
.hover-bg-gray-5:hover,
.hover-bg-gray-5:focus { background-color: #6a737d; }

.gray-6 { color: #586069; }
.bg-gray-6 { background-color: #586069; }
.b--gray-6 { border-color: #586069; }
.hover-gray-6:hover,
.hover-gray-6:focus { color: #586069; }
.hover-bg-gray-6:hover,
.hover-bg-gray-6:focus { background-color: #586069; }

.gray-7 { color: #444d56; }
.bg-gray-7 { background-color: #444d56; }
.b--gray-7 { border-color: #444d56; }
.hover-gray-7:hover,
.hover-gray-7:focus { color: #444d56; }
.hover-bg-gray-7:hover,
.hover-bg-gray-7:focus { background-color: #444d56; }

.gray-8 { color: #2f363d; }
.bg-gray-8 { background-color: #2f363d; }
.b--gray-8 { border-color: #2f363d; }
.hover-gray-8:hover,
.hover-gray-8:focus { color: #2f363d; }
.hover-bg-gray-8:hover,
.hover-bg-gray-8:focus { background-color: #2f363d; }

.gray-9 { color: #24292e; }
.bg-gray-9 { background-color: #24292e; }
.b--gray-9 { border-color: #24292e; }
.hover-gray-9:hover,
.hover-gray-9:focus { color: #24292e; }
.hover-bg-gray-9:hover,
.hover-bg-gray-9:focus { background-color: #24292e; }

.orange-0 { color: #fff8f2; }
.bg-orange-0 { background-color: #fff8f2; }
.b--orange-0 { border-color: #fff8f2; }
.hover-orange-0:hover,
.hover-orange-0:focus { color: #fff8f2; }
.hover-bg-orange-0:hover,
.hover-bg-orange-0:focus { background-color: #fff8f2; }

.orange-1 { color: #ffebda; }
.bg-orange-1 { background-color: #ffebda; }
.b--orange-1 { border-color: #ffebda; }
.hover-orange-1:hover,
.hover-orange-1:focus { color: #ffebda; }
.hover-bg-orange-1:hover,
.hover-bg-orange-1:focus { background-color: #ffebda; }

.orange-2 { color: #ffd1ac; }
.bg-orange-2 { background-color: #ffd1ac; }
.b--orange-2 { border-color: #ffd1ac; }
.hover-orange-2:hover,
.hover-orange-2:focus { color: #ffd1ac; }
.hover-bg-orange-2:hover,
.hover-bg-orange-2:focus { background-color: #ffd1ac; }

.orange-3 { color: #ffab70; }
.bg-orange-3 { background-color: #ffab70; }
.b--orange-3 { border-color: #ffab70; }
.hover-orange-3:hover,
.hover-orange-3:focus { color: #ffab70; }
.hover-bg-orange-3:hover,
.hover-bg-orange-3:focus { background-color: #ffab70; }

.orange-4 { color: #fb8532; }
.bg-orange-4 { background-color: #fb8532; }
.b--orange-4 { border-color: #fb8532; }
.hover-orange-4:hover,
.hover-orange-4:focus { color: #fb8532; }
.hover-bg-orange-4:hover,
.hover-bg-orange-4:focus { background-color: #fb8532; }

.orange-5 { color: #f66a0a; }
.bg-orange-5 { background-color: #f66a0a; }
.b--orange-5 { border-color: #f66a0a; }
.hover-orange-5:hover,
.hover-orange-5:focus { color: #f66a0a; }
.hover-bg-orange-5:hover,
.hover-bg-orange-5:focus { background-color: #f66a0a; }

.orange-6 { color: #e36209; }
.bg-orange-6 { background-color: #e36209; }
.b--orange-6 { border-color: #e36209; }
.hover-orange-6:hover,
.hover-orange-6:focus { color: #e36209; }
.hover-bg-orange-6:hover,
.hover-bg-orange-6:focus { background-color: #e36209; }

.orange-7 { color: #d15704; }
.bg-orange-7 { background-color: #d15704; }
.b--orange-7 { border-color: #d15704; }
.hover-orange-7:hover,
.hover-orange-7:focus { color: #d15704; }
.hover-bg-orange-7:hover,
.hover-bg-orange-7:focus { background-color: #d15704; }

.orange-8 { color: #c24e00; }
.bg-orange-8 { background-color: #c24e00; }
.b--orange-8 { border-color: #c24e00; }
.hover-orange-8:hover,
.hover-orange-8:focus { color: #c24e00; }
.hover-bg-orange-8:hover,
.hover-bg-orange-8:focus { background-color: #c24e00; }

.orange-9 { color: #a04100; }
.bg-orange-9 { background-color: #a04100; }
.b--orange-9 { border-color: #a04100; }
.hover-orange-9:hover,
.hover-orange-9:focus { color: #a04100; }
.hover-bg-orange-9:hover,
.hover-bg-orange-9:focus { background-color: #a04100; }
